if SOC_FAMILY_GD

# Source series Kconfig files first, so SoCs
# can override the defaults given here
rsource "*/Kconfig.defconfig"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 200000000

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

endif # SOC_FAMILY_GD
