if SOC_FAMILY_STM32

# Source series Kconfig files first, so SoCs
# can override the defaults given here
rsource "*/Kconfig.defconfig"

config CACHE_STM32
	default y if EXTERNAL_CACHE

config CLOCK_CONTROL
	default y

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 64000000

config SYS_CLOCK_TICKS_PER_SEC
	default 8000

config CLOCK_CONTROL_INIT_PRIORITY
	int
	default 1
	depends on CLOCK_CONTROL

config FLASH_BASE_ADDRESS
	hex
	default 0x08000000

config STM32_BACKUP_PROTECTION
	bool
	default y if !SOC_SERIES_STM32C0X && !SOC_SERIES_STM32WB0X

endif # SOC_FAMILY_STM32
