config I2C_STM32
	bool "I2C driver for STM32"
	select I2C
	default y
	depends on SOC_FAMILY_ST
	depends on DT_HAS_ST_STM32_I2C_V1_ENABLED || DT_HAS_ST_STM32_I2C_V2_ENABLED
	help
	  Enable I2C driver for STM32 family using HAL.
