menuconfig I2C
	bool "I2C drivers"
	help
	  Include I2C drivers in system config

rsource "Kconfig.stm32"

if I2C

config I2C_INIT_PRIORITY
	int "I2C init priority"
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  I2C driver device initialization priority.

endif # I2C
