config UART_STM32
	bool "UART driver for STM32"
	select UART
	default y
	depends on SOC_FAMILY_ST
	depends on DT_HAS_ST_STM32_UART_ENABLED || DT_HAS_ST_STM32_USART_ENABLED || DT_HAS_ST_STM32_LPUART_ENABLED
	help
	  Enable UART driver for STM32 family using HAL.
