menu "System Configure"

menu "Mempool Config"

config MEMPOOL_NORMAL_SIZE
    int "MEMPOOL_NORMAL_SIZE(KB)"
    default 8

config MEMPOOL_HIGHSPEED_SIZE
    int "MEMPOOL_HIGHSPEED_SIZE(KB)"
    default 0

config MEMPOOL_DMA_SIZE
    int "MEMPOOL_DMA_SIZE(KB)"
    default 4

endmenu

endmenu