menuconfig CAN
	bool "CAN drivers"
	help
	  Include CAN drivers in system config

rsource "Kconfig.stm32"
rsource "Kconfig.gd32"

if CAN

config CAN_INIT_PRIORITY
	int "CAN init priority"
	range 0 999
	default KERNEL_INIT_PRIORITY_DEFAULT
	help
	  CAN driver device initialization priority.

endif # CAN
