config CAN_STM32
	bool "CAN (FDCAN) driver for STM32"
	select CAN
	select USE_STM32_HAL_FDCAN
	default y if SOC_FAMILY_STM32
	depends on SOC_FAMILY_STM32
	depends on DT_HAS_ST_STM32_FDCAN_ENABLED || DT_HAS_ST_STM32H7_FDCAN_ENABLED
	help
	  Enable CAN driver for STM32 family using HAL FDCAN.
